* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

.navbar {
    height: 30%;
    border: 2px solid red;
    position: relative;
}

.main {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.row {
    position: absolute;
}

#display {
    height: 100vh;
}

.first {
    position: absolute;
    left: 34rem;
    top: 5rem;
    text-align: center;
    text-shadow: 0 0 5px #DB881E;
    color: white;
}


/*services css*/

.services {
    top: 30rem;
}

.commercial {
    display: flex;
    justify-content: space-around;
    padding-left: 8rem;
}

.desc {
    padding-top: 13rem;
    padding-right: 16rem;
}


/*about css*/

.about {
    background-image: url("images/white.jpg");
    background-position: 100% center;
    height: 60vh;
    background-size: cover;
    position: relative;
    bottom: -30rem;
    text-align: center;
}

.about h2 {
    padding-top: 8rem;
    text-shadow: 0 0 5px #DB881E;
    color: white;
}

.about p {
    color: #DB881E;
    font-size: 20px;
}